extends ../shared/template

block content

  #dashboard
    h1 Meal Madness
    h2 Sign In
    input#username(type='text', placeholder='Username')
    button#signin Sign In

  #neworder
  #pastorders
